body {background-color:#555555;}

@font-face {
font-family:DejaVuSansMono;
src:url('../fonts/DejaVuSansMono.ttf');
} 
@font-face {
font-family:Garamond;
src:url('../fonts/EBGaramond-Regular.ttf');
} 
@font-face {
font-family:s0751;
src:url('../fonts/standard 07_51.ttf');
}
@font-face {
font-family:s0752;
src:url('../fonts/standard 07_52.ttf');
}

.test1 {font-family:DejaVuSansMono;font-size:0.8em;} // igy hasonlit leginkabb meretben a html5 <code> tag-hez
.test2 {font-family:Garamond;font-size:1em;}
.s0751 {font-family:s0751;font-size:1em;}
.s0752 {font-family:s0752;font-size:1em;}
